* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$purple: rgb(156, 59, 253);
$green: rgb(98, 255, 208);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: $purple;
    font-size: 1.5em;
}

.title{
    font-size: 6em;
    color: $green;
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black;
    -webkit-text-stroke: 2px black;
    letter-spacing: 3px;
    text-align: center;
}

.sub-title{
    font-size: 1em;
    text-align: center;
}

.word-pairs{
    width: 80%; 
    height: 20%;
}

.news-container {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    .news-item {
        font-family: 'Courier New', Courier, monospace;
        margin: 1em;
        flex-grow: 1;
        width: 50%;
        padding: 1em;

        a{
            text-decoration-color: $purple;
        }

        @media only screen and (min-width: 600px) {
            width: 40%;
          }
        @media only screen and (min-width: 1200px) {
            width: 30%;
        }
    }
    .redacted {
        background-color:  rgba(98, 255, 208, .5);
    }
    
}

.img-container{
    margin-bottom: 40px;

        width: 150px;
        height: 100px;

        img {
            width: 100%;
            height: auto;
        }
}

.date {
    font-weight: 900;
}

#input {
    margin: 20px;
}