* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

$purple: rgb(156, 59, 253);
$green: #62FFD0;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: $purple;
    font-size: 1.5em;
}

.title{
    font-size: 6em;
    color: $green;
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black;
    -webkit-text-stroke: 2px black;
    letter-spacing: 3px;
}

.sub-title{
    font-size: 1em;
}

.word-pairs{
    width: 80%; 
    height: 20%;
}

.news-container {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
    .news-item {
        font-family: 'Courier New', Courier, monospace;
        margin: 1em;
        flex-grow: 1;
        width: 30%;
        padding: 1em;

        a{
            text-decoration-color: $purple;
        }
    }
}
